[Desktop Entry]
Name=YALI
Name[tr]=YALI
GenericName=Yali
Comment=Pisilinux Installation Tool
Comment[tr]=Pisilinux Kurulum Aracı
Icon=yali
Type=Application
Exec=pkexec env WAYLAND_DISPLAY="$WAYLAND_DISPLAY" XDG_RUNTIME_DIR="$XDG_RUNTIME_DIR" DISPLAY="$DISPLAY" /usr/bin/yali-rs
Icon=yali
Categories=PisiTools;System;
Terminal=false
StartupNotify=true
